@if (cols().length > 0) {
  <p-table
    [value]="rows()"
    [columns]="cols()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"

  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col.field) {
          <th [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field" />
          </th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>
            {{ rowData[col.field] }}
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
}
