<p-datepicker
  [ngModel]="value()"
  (ngModelChange)="setValue($event)"
  [disabled]="disabled()"
  [invalid]="invalid()"
  [dateFormat]="format()"
  [showIcon]="showIcon()"
  [minDate]="minDate()"
  [maxDate]="maxDate()"
  [inputId]="inputId()"
  [iconDisplay]="iconDisplay()"
  [class]="class()"
  [placeholder]="placeholder()"
  [selectionMode]="selectionMode()"
  [readonlyInput]="readonlyInput()"
  [showButtonBar]="showButtonBar()"
  [hourFormat]="hourFormat()"
  [timeOnly]="timeOnly()"
  [view]="view()"
  [variant]="variant()"
/>
